	@charset "utf-8";
		body{
		background-color: #00FF7F;
		font-family: 'Oswald', sans-serif;
		}
		h1{
		/*En kommentar*/
			font-size: 20px;
			front-weight: normal;
			color: blue;
			margin: 0px;
			font-family: verdana,arial,sans-serif;
		}
		h2{
			font-size: 16px;
			font-weight: normal;
			color: blue;
			margin: 0px;
			margin-top: 4px;
			font-family: arial,sans-serif;
		}
